@using HealthWebApp2._0.Models.HouseholdProfile
@model HealthWebApp2._0.Models.HouseholdProfile.HouseholdProfileDetailModel

@using (Html.BeginForm())
{
    <div class="container">
        <div class="clearfix">
            <h3 class="text-muted">Detail of @Model.ProfileId</h3>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div>ProfileId : @Model.ProfileId</div>
                    <div>Adress : @Model.Address </div>
                    <div>City : @Model.City </div>
                    <div>Province : @Model.Province </div>
                    <div>Note : @Model.Note </div>
                    <div>No. of Members : @Model.NumberOfMembers</div>
                </div>
            </div>
        <div>
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                    <tr class="alert-success">
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Relation To Head</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="alert-info">
                    @if (@Model.HouseholdMembers != null)
                    {
                        @foreach (var member in @Model.HouseholdMembers)
                        {
                            <tr>
                                <td>@member.PersonId</td>
                                <td id="MemberIcon"><a asp-controller="Member" asp-action="Details" asp-route-id="@member.MemberName"> @member.MemberName</a></td>
                                <td>@member.RelationToHouseholdHead</td>
                                <td id="MemberIcon">
                                    <a asp-controller="HouseholdMember" asp-action="Edit" asp-route-id="@member.PersonId"> Edit</a>
                                    <a asp-controller="HouseholdMember" asp-action="Details" asp-route-id="@member.PersonId"> Details</a>
                                    <a asp-controller="HouseholdMember" asp-action="Delete" asp-route-id="@member.PersonId"> Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        </div>
        <div>
            <a asp-controller="Person" asp-action="Index">Back to Index</a>
        </div>
    </div>
}